<header>
  <div class="header-inner">
    <div class="logo">
      <div class="logo-icon"><img src="{{ url_for('static', filename='../media/logo.png') }}" alt="TLTQUIZ Logo" style="width: 100px; height: 90px;"></div>
      TLTQUIZ
    </div>

    <nav>
      {% block nav_links %}{% endblock %}
    </nav>

    <div class="burger" onclick="toggleMobileMenu()" id="burgerBtn">
      <span></span><span></span><span></span>
    </div>
  </div>
</header>

<div class="mobile-menu" id="mobileMenu">
  {% block mobile_menu_links %}{% endblock %}
</div>
